Ultramarine.Palette.Extractor/.vs/
Ultramarine.Palette.Extractor/bin/
Ultramarine.Palette.Extractor/obj/
.vs/
BulkImageProcessor/bin/
BulkImageProcessor/obj/
*.user
SearchApi/venv/
SearchApi/.vscode/
SearchApi/data/
SearchApi/.idea/
SearchApi/__pycache__/
